<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>main.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>util.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>util.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordForget</servlet-name>
        <servlet-class>util.PasswordForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>util.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateProjectServlet</servlet-name>
        <servlet-class>util.ValidateProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateProjectServlet</servlet-name>
        <url-pattern>/ValidateProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateEmailServlet</servlet-name>
        <servlet-class>util.ValidateEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateEmailServlet</servlet-name>
        <url-pattern>/ValidateEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Members</servlet-name>
        <servlet-class>servlet.Members</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Members</servlet-name>
        <url-pattern>/Members</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FirstLogin</servlet-name>
        <servlet-class>util.FirstLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstLogin</servlet-name>
        <url-pattern>/FirstLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Modules</servlet-name>
        <servlet-class>servlet.Modules</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modules</servlet-name>
        <url-pattern>/Modules</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>servlet.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Times</servlet-name>
        <servlet-class>servlet.Times</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Times</servlet-name>
        <url-pattern>/Times</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrieren</servlet-name>
        <servlet-class>servlet.Registrieren</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrieren</servlet-name>
        <url-pattern>/Registrieren</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Overview</servlet-name>
        <servlet-class>servlet.Overview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Overview</servlet-name>
        <url-pattern>/Overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordForget</servlet-name>
        <url-pattern>/PasswordForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>
