<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateProjectServlet</servlet-name>
        <servlet-class>ValidateProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Members</servlet-name>
        <servlet-class>Members</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstLogin</servlet-name>
        <servlet-class>FirstLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modules</servlet-name>
        <servlet-class>Modules</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrieren</servlet-name>
        <servlet-class>Registrieren</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrieren</servlet-name>
        <url-pattern>/Registrieren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateProjectServlet</servlet-name>
        <url-pattern>/ValidateProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Members</servlet-name>
        <url-pattern>/Members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstLogin</servlet-name>
        <url-pattern>/FirstLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modules</servlet-name>
        <url-pattern>/Modules</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>
