body { 
    font-family: Gill, Helvetica, sans-serif;
}

#frame{
    background-image:url("grafik/bg-main.png");
    background-repeat:no-repeat;
    margin-left:12%;
    padding-left:168px;
    width:822px;
    height: 100%;
    position:absolute;
}

#addModule {
    height:400px;
    margin-left:309px;
    position:absolute;
    width:484px;
    margin-top: 25px;
}

#userDescription {
    width: 185px;
    height: 330px;
    margin-left: 320px;
    margin-top: 120px;
    position: absolute;
}

#title
{
    background-image: url('grafik/head.png');
    background-position: left top;
    width:828px;
    height:30px;
    padding-top:8px;
    text-align:center;
    font-weight:bold;
    color:#40666d;
}

#content{
    background-repeat: no-repeat;
    background-image: url("grafik/bg-yellow.png");
    background-position: bottom right;
    overflow: auto;
    width: 800px;
    height: 80%;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px #40666d;
}

#statusBox{
    font-family: Gill, Helvetica, sans-serif;
    font-size: 10pt;
}

#textLogout{
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

#changePasswordText {
    font-size: 12pt;
    font-weight: bold;
}

#returnChangePasswordText {
    font-size: 12pt;
    font-weight: bold;
}

.menuTopButton a
{
    width:137px;
    float:left;
    height:23px;
    background-image:url(grafik/button.png);
    background-position:right;
    text-align:center;
    background-repeat:no-repeat;
    padding-top:8px;
    font-size:10pt;
    color:black;
    font-weight:bold;
    text-decoration:none;
}

.menuTopButton a:hover
{
    background-image:url(grafik/button_hover.png);
    color:#40666d;
}

.menuTopButton a:active
{
    background-image:url(grafik/button_pressed.png);
    color:#40666d;
}
