#frame{
    margin-left: 200px;
}
#userDescription {
    width: 185px;
    height: 330px;
    margin-left: 520px;
    position: absolute;
}

#title
{
    background-color:#3A38D8;
    width:720px;
    height:30px;
    padding-top:8px;
    text-align:center;
    font-weight:bold;
    color:white;
}

#content{
    background-repeat: no-repeat;
    background-image: url("grafik/bg-yellow.png");
    background-position: bottom right;
    width: 700px;
    height:500px;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px black;
}

#textFirstLogin{
    font-weight:bold;
}

.menuTopButton a
{
    width:120px;
    float:left;
    height:23px;
    background-image:url(grafik/button.jpg);
    background-position:right;
    text-align:center;
    background-repeat:no-repeat;
    padding-top:8px;
    font-size:8pt;
    color:white;
    font-weight:bold;
    text-decoration:none;
}

.menuTopButton a:hover
{
    background-image:url(grafik/button_hover.jpg);
}

